<div class="col-md-8 offset-md-1 mt-4">
<h6 class="text-primary">Please Enter Url</h6>

<form>
    <label>Long URL :</label>
    <input type="text" class="form-control mt-2" id="longUrl" [(ngModel)]="url.longUrl" name="longUrl">
    <button class="btn btn-success  mt-2 px-2 mb-2 ml-4" type="submit" (click)="OnSubmit()">Show & Add</button>&nbsp;<button class="btn btn-success  mt-2 px-2 mb-2" (click)="reset()">Reset</button>
    <span class="text-danger mb-4">{{errormsg}}</span>
</form>

<label>Short URL :</label><input type="text" class="form-control col-md-2 mb-3" id="shortUrl" [(ngModel)]="url.shortUrl" name="shortUrl">
<h6 class="text-success  text-center mb-4">{{successmsg}}</h6>
<h6 class="text-warning mb-4">{{warningmessage}}</h6>

<h6 class="text-primary">Existing URL List</h6>
<div class="table-responsive">
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>URL ID</th>
            <th>Short URL</th>
            <th>Click Count</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let url of urls">
            <td>{{url.urlid}}</td>
            <td><a target='_blank' (click)="incrCount(url)" href="{{url.longUrl}}">{{url.shortUrl}}</a></td>
            <td>{{url.clickCount}}</td>
        </tr>
    </tbody>
</table>
</div>
</div>